<tr bgcolor="<%= bgcolor %>">
  <td colspan="2">&nbsp;</td>
  <td><b><%= description %></b></td>
  <td colspan="6">&nbsp;</td>
  <td align="right"><b><%= fmt_dollars(subtotal) %></b></td>
  <td colspan="5">&nbsp;</td>
</tr>
