<tr bgcolor="<%= bgcolor %>">
  <td colspan="2">&nbsp;</td>
  <td><b><%= description %></b></td>
  <td colspan="6">&nbsp;</td>
  <td align="right"><b><%= fmt_dollars(subtotal) %></b></td>
<% if weighting -%>
  <td colspan="5">&nbsp;</td>
<% else -%>
  <td colspan="4">&nbsp;</td>
<% end -%>
</tr>
