<form action="/items/index" method="post">
<p>Welcome, <%=h current_user.login %>!</p>
<p>Enter a number from 1 to 3 (1 for most important, 3 for least important) in the "Your Rating" boxes.</p>
<p>Don't forget to click one of the Submit buttons (at the top and bottom of the page) when you're done.</p>
<p>If you're all done, you can <%= link_to 'Log out', '/logout' %>...  And thanks for voting.</p>
<input type="submit" name="submit" value="Submit" />
<table>
<tr>
  <th>Item</th>
  <th>Category</th>
  <th>Description</th>
  <th>Requester</th>
  <th>Bac.</th>
  <th>Kent</th>
  <th>D.O.</th>
  <th>Total</th>
  <th>Unit Cost</th>
  <th>Total Cost</th>
  <th>Rec?</th>
  <th>Funding</th>
  <th>My Rating</th>
  <th>Avg.</th>
  <th>Votes</th>
</tr>
<%= render :partial => "rating", :collection => @items %>
</table>
<input type="submit" name="submit" value="Submit" />
</form>